@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  position: relative;
  overflow-x: hidden; }

header {
  position: relative;
  height: 100vh; }
  header .navStyle {
    font-family: "Open Sans", sans-serif; }
    header .navStyle .linkStyle {
      color: #FFF; }
  header .rightPartOfHeader {
    color: grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: uppercase;
    word-spacing: 10px;
    position: absolute;
    transform: rotate(-90deg); }
    header .rightPartOfHeader .headerSociableIcons .sociableIcon {
      transform: rotate(90deg);
      margin: 0 20px; }
    header .rightPartOfHeader .headerSociableIcons .sociableIcon {
      color: #616161; }
    header .rightPartOfHeader .headerSociableIcons .icon1:hover {
      color: #e0e403; }
    header .rightPartOfHeader .headerSociableIcons .icon2:hover {
      color: #1DA1F2; }
    header .rightPartOfHeader .headerSociableIcons .icon3:hover {
      color: #000; }
  header .headerImage {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    height: 90%; }
  header .mainHeaderText {
    position: absolute;
    top: 50%;
    left: 3%; }
    header .mainHeaderText p {
      font-family: "Open Sans", sans-serif; }
    header .mainHeaderText p:nth-of-type(1) {
      color: #0362ce; }
    header .mainHeaderText p:nth-of-type(2) {
      width: 35%;
      color: gray; }
    header .mainHeaderText h1 {
      font-weight: bold; }

.quoteBox {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .quoteBox p {
    font-family: "Open Sans", sans-serif;
    margin: 10px auto;
    font-weight: bold; }

.mediaContent {
  position: relative;
  width: 100%; }
  .mediaContent .mediaContentImage {
    position: relative; }
    .mediaContent .mediaContentImage:hover {
      z-index: 5; }
  .mediaContent .mediaContentText {
    font-family: "Open Sans", sans-serif;
    color: grey;
    width: 20%; }
    .mediaContent .mediaContentText a {
      display: inline-block;
      color: #000;
      padding-bottom: 5px;
      border-bottom: #5da8ef 2px solid;
      letter-spacing: 2px; }
      .mediaContent .mediaContentText a:hover {
        text-decoration: none; }
  .mediaContent iframe {
    position: absolute;
    right: 0;
    width: 60%;
    height: 70%;
    z-index: 0; }

.surfboardShop {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative; }
  .surfboardShop .shopSectionTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw; }
    .surfboardShop .shopSectionTitle p {
      font-family: "Open Sans", sans-serif;
      color: #0362ce; }
  .surfboardShop .boardBox {
    display: flex;
    flex-direction: row;
    width: 200%;
    position: relative;
    top: 0;
    left: 0; }
    .surfboardShop .boardBox .surfboard1 {
      position: relative;
      width: 100%; }
    .surfboardShop .boardBox .surfboard2 {
      position: relative;
      width: 100%; }
    .surfboardShop .boardBox .surfboard3 {
      position: relative;
      width: 100%; }
    .surfboardShop .boardBox .surfboard4 {
      position: relative;
      width: 100%; }
    .surfboardShop .boardBox .surfboard5 {
      position: relative;
      width: 100%; }
    .surfboardShop .boardBox .surfboard6 {
      position: relative;
      width: 100%; }
    .surfboardShop .boardBox .boardBackground {
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: #ececec;
      z-index: -1; }
    .surfboardShop .boardBox img {
      position: relative; }
    .surfboardShop .boardBox .surfboardText {
      position: absolute;
      top: 50%;
      left: 50%; }
      .surfboardShop .boardBox .surfboardText p {
        color: grey;
        font-family: "Open Sans", sans-serif; }
    .surfboardShop .boardBox .surfboardBuyAndPrice {
      position: absolute;
      top: 70%;
      left: 65%; }
      .surfboardShop .boardBox .surfboardBuyAndPrice p {
        color: #ce60a8; }
      .surfboardShop .boardBox .surfboardBuyAndPrice a {
        font-family: "Open Sans", sans-serif;
        font-weight: bold;
        letter-spacing: 3px;
        color: #000;
        display: inline-block;
        margin-top: 7px; }
        .surfboardShop .boardBox .surfboardBuyAndPrice a:hover {
          text-decoration: none; }
        .surfboardShop .boardBox .surfboardBuyAndPrice a:active, .surfboardShop .boardBox .surfboardBuyAndPrice a:focus {
          outline: 0; }
  .surfboardShop .arrowShop {
    position: absolute;
    top: 50%;
    cursor: pointer; }
  .surfboardShop i:nth-of-type(1) {
    left: 20px; }
  .surfboardShop i:nth-of-type(2) {
    right: 20px; }
  .surfboardShop > a {
    display: inline-block;
    color: #000;
    padding-bottom: 5px;
    border-bottom: #5da8ef 2px solid;
    letter-spacing: 2px; }
    .surfboardShop > a:hover {
      text-decoration: none; }

.surfTraining {
  display: block;
  margin-left: 10%; }
  .surfTraining .surfTrainingText {
    float: left;
    width: 30%;
    margin-top: 15%; }
    .surfTraining .surfTrainingText h2 {
      font-weight: bold; }
      .surfTraining .surfTrainingText h2 u {
        text-decoration-color: #5da8ef; }
    .surfTraining .surfTrainingText p {
      color: #616161;
      font-family: "Open Sans", sans-serif; }
    .surfTraining .surfTrainingText a {
      display: inline-block;
      color: #000;
      border-bottom: #5da8ef 2px solid; }
      .surfTraining .surfTrainingText a:hover {
        text-decoration: none; }
      .surfTraining .surfTrainingText a:active, .surfTraining .surfTrainingText a:focus {
        outline: 0; }
    .surfTraining .surfTrainingText a {
      text-transform: uppercase;
      letter-spacing: 3px; }
  .surfTraining img {
    width: 70%;
    z-index: 2; }

.surfTraining2 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }
  .surfTraining2:hover {
    z-index: 3; }
  .surfTraining2 .surfTrainingText2 {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column; }
    .surfTraining2 .surfTrainingText2 h2 {
      font-weight: bold; }
      .surfTraining2 .surfTrainingText2 h2 u {
        text-decoration-color: #5da8ef; }
    .surfTraining2 .surfTrainingText2 p {
      color: #616161;
      font-family: "Open Sans", sans-serif; }
    .surfTraining2 .surfTrainingText2 a {
      display: inline-block;
      color: #000;
      border-bottom: #5da8ef 2px solid; }
      .surfTraining2 .surfTrainingText2 a:hover {
        text-decoration: none; }
      .surfTraining2 .surfTrainingText2 a:active, .surfTraining2 .surfTrainingText2 a:focus {
        outline: 0; }
    .surfTraining2 .surfTrainingText2 a {
      text-transform: uppercase;
      letter-spacing: 3px; }
  .surfTraining2 img {
    z-index: -1;
    margin-left: 15%; }

.newsletterSubscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%; }
  .newsletterSubscription h2 {
    font-weight: bold; }
  .newsletterSubscription p {
    color: #616161;
    font-family: "Open Sans", sans-serif;
    text-align: center; }
  .newsletterSubscription .subscribeForm {
    width: 100%; }
    .newsletterSubscription .subscribeForm .emailInput {
      width: 87%;
      float: left; }
    .newsletterSubscription .subscribeForm .pushEmailBtn {
      background-color: #5da8ef;
      color: #FFF;
      border: none; }

.contacts {
  width: 100%; }
  .contacts::after {
    content: "";
    display: table;
    clear: both; }
  .contacts .contactImageSunset {
    float: left; }
  .contacts .contactsText {
    float: right;
    width: 39.6%; }
    .contacts .contactsText p:nth-of-type(1) {
      color: #616161;
      font-family: "Open Sans", sans-serif; }
    .contacts .contactsText h2 {
      font-weight: bold; }
    .contacts .contactsText p:nth-of-type(2) {
      color: #5da8ef;
      cursor: pointer;
      font-family: "Open Sans", sans-serif;
      text-transform: uppercase;
      word-spacing: 3px;
      letter-spacing: 2px;
      font-weight: bold;
      display: inline-block;
      border-bottom: #5da8ef 3px solid; }

.repeatNav {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto; }
  .repeatNav .footerNav {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase; }
    .repeatNav .footerNav a {
      color: #000; }
  .repeatNav .sociableIconsFooter .sociableIcon {
    margin: 0 20px; }
  .repeatNav .sociableIconsFooter .sociableIcon {
    color: #616161; }
  .repeatNav .sociableIconsFooter .icon1:hover {
    color: #e0e403; }
  .repeatNav .sociableIconsFooter .icon2:hover {
    color: #1DA1F2; }
  .repeatNav .sociableIconsFooter .icon3:hover {
    color: #000; }

@media only screen and (min-width: 1200px) {
  header .rightPartOfHeader {
    width: 550px;
    top: 45%;
    right: -300px; }
  header .headerImage {
    width: 90%; }
  header .mainHeaderText {
    word-spacing: 10px; }
    header .mainHeaderText h1 {
      font-size: 4rem; }
  .quoteBox {
    padding: 30px 0; }
    .quoteBox cite {
      font-size: 18px; }
    .quoteBox p {
      font-size: 11px; }
  .mediaContent {
    padding-bottom: 200px; }
    .mediaContent .mediaContentImage {
      margin-left: 100px; }
    .mediaContent .mediaContentText {
      font-size: 12px;
      margin-left: 200px; }
      .mediaContent .mediaContentText a {
        font-size: 11px;
        padding-top: 50px; }
    .mediaContent iframe {
      top: 80px; }
  .surfboardShop .shopSectionTitle h2 {
    font-size: 3rem; }
  .surfboardShop .boardBox .boardBackground {
    width: 60%;
    height: 70%; }
  .surfboardShop .boardBox img {
    left: 15%; }
  .surfboardShop .boardBox .surfboardText h3 {
    font-size: 2rem; }
  .surfboardShop .boardBox .surfboardBuyAndPrice p {
    font-size: 1.5rem; }
  .surfboardShop .arrowShop {
    font-size: 30px; }
  .surfboardShop > a {
    margin: 50px auto;
    padding-top: 50px; }
  .surfTraining .surfTrainingText h2 {
    font-size: 3rem; }
  .surfTraining .surfTrainingText p {
    margin-top: 30px; }
  .surfTraining .surfTrainingText a {
    margin-top: 60px; }
  .surfTraining2 {
    top: -200px; }
    .surfTraining2 .surfTrainingText2 h2 {
      font-size: 3rem; }
    .surfTraining2 .surfTrainingText2 p {
      margin-top: 30px; }
    .surfTraining2 .surfTrainingText2 a {
      margin-top: 60px; }
  .newsletterSubscription {
    margin: -200px auto 50px auto; }
    .newsletterSubscription .verticalLine {
      margin: 60px auto; }
    .newsletterSubscription h2 {
      font-size: 3rem; }
    .newsletterSubscription p {
      margin: 30px auto; }
    .newsletterSubscription .subscribeForm .emailInput {
      height: 50px; }
    .newsletterSubscription .subscribeForm .pushEmailBtn {
      width: 50px;
      height: 50px;
      font-size: 20px; }
  .contacts {
    margin-top: 10%; }
    .contacts .contactsText {
      margin-top: 15%; }
      .contacts .contactsText p:nth-of-type(1) {
        margin-left: -30px; }
      .contacts .contactsText h2 {
        margin: 70px auto;
        font-size: 22px; }
      .contacts .contactsText p:nth-of-type(2) {
        margin-left: -30px;
        font-size: 13px;
        padding-bottom: 10px; }
  .repeatNav {
    margin: 50px auto; }
    .repeatNav .footerNav {
      margin: 30px auto;
      font-size: 13px; }
      .repeatNav .footerNav .footerNavElem:hover {
        background-color: #616161; }
        .repeatNav .footerNav .footerNavElem:hover a {
          color: #FFF; }
    .repeatNav .sociableIconsFooter .sociableIcon {
      font-size: 22px; } }

@media only screen and (max-width: 1199px) {
  header .rightPartOfHeader {
    width: 650px;
    top: 45%;
    right: -310px; }
  header .headerImage {
    width: 80%;
    margin-right: 40px; }
  header .mainHeaderText {
    word-spacing: 4px; }
    header .mainHeaderText h1 {
      font-size: 3.5rem; }
  .quoteBox {
    padding: 60px 0; }
    .quoteBox cite {
      font-size: 20px; }
    .quoteBox p {
      font-size: 12px;
      margin: 40px auto; }
  .mediaContent {
    padding-bottom: 150px; }
    .mediaContent .mediaContentImage {
      margin-left: 70px; }
    .mediaContent .mediaContentText {
      margin-left: 150px; }
      .mediaContent .mediaContentText a {
        font-size: 12px;
        padding-top: 30px; }
    .mediaContent iframe {
      top: 50px; }
  .surfboardShop .shopSectionTitle h2 {
    font-size: 2.5rem; }
  .surfboardShop .boardBox .boardBackground {
    width: 60%;
    height: 50%; }
  .surfboardShop .boardBox img {
    left: 12%; }
  .surfboardShop .boardBox .surfboardText h3 {
    font-size: 1.7rem; }
  .surfboardShop .boardBox .surfboardBuyAndPrice p {
    font-size: 1.5rem; }
  .surfboardShop .arrowShop {
    font-size: 35px; }
  .surfboardShop > a {
    margin: 80px auto;
    font-size: 13px; }
  .surfTraining .surfTrainingText h2 {
    font-size: 2.2rem; }
  .surfTraining .surfTrainingText p {
    margin-top: 20px; }
  .surfTraining .surfTrainingText a {
    margin-top: 50px;
    font-size: 13px; }
  .surfTraining2 {
    top: -180px; }
    .surfTraining2 .surfTrainingText2 h2 {
      font-size: 2.2rem; }
    .surfTraining2 .surfTrainingText2 p {
      margin-top: 20px; }
    .surfTraining2 .surfTrainingText2 a {
      margin-top: 50px;
      font-size: 13px; }
  .newsletterSubscription {
    margin: -150px auto 40px auto; }
    .newsletterSubscription .verticalLine {
      margin: 50px auto; }
    .newsletterSubscription h2 {
      font-size: 2.2rem; }
    .newsletterSubscription p {
      margin: 25px auto; }
    .newsletterSubscription .subscribeForm .emailInput {
      height: 35px; }
    .newsletterSubscription .subscribeForm .pushEmailBtn {
      width: 35px;
      height: 35px;
      font-size: 18px; }
  .contacts .contactImageSunset {
    width: 60%; }
  .contacts .contactsText {
    margin-top: 10%; }
    .contacts .contactsText p:nth-of-type(1) {
      margin-left: 0; }
    .contacts .contactsText h2 {
      margin: 60px auto;
      padding-left: 30px;
      font-size: 2rem; }
    .contacts .contactsText p:nth-of-type(2) {
      margin-left: 0;
      font-size: 12px;
      padding-bottom: 10px; }
  .repeatNav {
    margin: 40px auto; }
    .repeatNav .footerNav {
      margin: 25px auto;
      font-size: 12px; }
    .repeatNav .sociableIconsFooter .sociableIcon {
      font-size: 25px; } }

@media only screen and (max-width: 900px) {
  header .headerImage {
    margin-right: 30px;
    object-fit: cover; }
  header .mainHeaderText p {
    font-weight: bold;
    color: #303030; }
  .mediaContent {
    padding-bottom: 80px; }
    .mediaContent .mediaContentImage {
      margin-left: 0;
      width: 60%; }
    .mediaContent .mediaContentText {
      margin-left: 100px; }
  .surfboardShop .boardBox {
    width: 300%; }
    .surfboardShop .boardBox img {
      left: 8%;
      top: 50px; }
    .surfboardShop .boardBox .surfboardText h3 {
      font-size: 1.3rem; }
  .surfTraining .surfTrainingText h2 {
    font-size: 2rem; }
  .surfTraining .surfTrainingText p {
    margin-top: 10px; }
  .surfTraining .surfTrainingText a {
    margin-top: 30px;
    font-size: 12px; }
  .surfTraining2 {
    top: -130px; }
    .surfTraining2 .surfTrainingText2 h2 {
      font-size: 2rem; }
    .surfTraining2 .surfTrainingText2 p {
      margin-top: 10px; }
    .surfTraining2 .surfTrainingText2 a {
      margin-top: 30px;
      font-size: 12px; }
  .newsletterSubscription {
    margin: -130px auto 35px auto; }
    .newsletterSubscription h2 {
      font-size: 2rem; }
    .newsletterSubscription .subscribeForm .emailInput {
      height: 28px; }
    .newsletterSubscription .subscribeForm .pushEmailBtn {
      width: 28px;
      height: 28px;
      font-size: 16px; }
  .contacts .contactsText h2 {
    margin: 40px auto;
    font-size: 24px; } }

@media only screen and (max-width: 600px) {
  header {
    width: 100%;
    margin: 0;
    padding: 0; }
    header .flexibleNav {
      display: flex;
      background-color: rgba(29, 161, 242, 0.8);
      z-index: 3; }
      header .flexibleNav .littleBoard {
        display: none; }
      header .flexibleNav #hamburgerBtn {
        margin: 10px auto;
        border: 0;
        width: 26px;
        height: 26px;
        position: relative;
        border: 0;
        border-radius: 500px;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        cursor: pointer; }
        header .flexibleNav #hamburgerBtn span {
          display: block;
          position: absolute;
          height: 5px;
          width: 100%;
          background: #FFF;
          border-radius: 9px;
          left: 0;
          transform: rotate(0deg);
          transition: .25s ease-in-out; }
          header .flexibleNav #hamburgerBtn span:nth-child(1) {
            top: 0px; }
          header .flexibleNav #hamburgerBtn span:nth-child(2) {
            top: 10px; }
          header .flexibleNav #hamburgerBtn span:nth-child(3) {
            top: 20px; }
        header .flexibleNav #hamburgerBtn.open span:nth-child(1) {
          top: 10px;
          transform: rotate(135deg); }
        header .flexibleNav #hamburgerBtn.open span:nth-child(2) {
          opacity: 0;
          left: -30px; }
        header .flexibleNav #hamburgerBtn.open span:nth-child(3) {
          top: 10px;
          transform: rotate(-135deg); }
      header .flexibleNav .navStyle {
        display: none;
        width: 100%;
        text-align: center; }
        header .flexibleNav .navStyle .linkStyle {
          margin: 15px auto;
          color: #FFF;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 3px; }
    header .rightPartOfHeader {
      display: none; }
    header .headerImage {
      width: 100%;
      height: 100vh;
      margin: 0; }
    header .mainHeaderText {
      top: 40%; }
      header .mainHeaderText p:nth-of-type(2) {
        width: 100%;
        margin: 150px auto 0 25px;
        padding: 15px;
        color: #1DA1F2;
        letter-spacing: 2px;
        background-color: rgba(250, 250, 250, 0.8); }
  .quoteBox {
    padding: 60px 30px; }
    .quoteBox cite {
      font-size: 18px;
      text-align: center; }
  .mediaContent .mediaContentImage {
    width: 100%; }
  .mediaContent .mediaContentText {
    margin-left: 0;
    margin-top: 20px;
    width: 100%; }
  .mediaContent iframe {
    position: relative;
    width: 100%;
    height: 200px; }
  .surfboardShop {
    margin: 100px auto; }
    .surfboardShop .boardBox {
      width: 600%;
      height: auto;
      max-height: 350px;
      padding: 0 40px; }
      .surfboardShop .boardBox .boardBackground {
        width: 50%; }
      .surfboardShop .boardBox img {
        left: 4%;
        bottom: 0; }
      .surfboardShop .boardBox .surfboardText p {
        font-size: 12px; }
      .surfboardShop .boardBox .surfboardText h3 {
        font-size: 1.2rem; }
      .surfboardShop .boardBox .surfboardBuyAndPrice p {
        font-size: 1.1rem; }
    .surfboardShop a {
      display: none; }
  .surfTraining {
    display: flex;
    flex-direction: column;
    margin-left: 0; }
    .surfTraining .surfTrainingText {
      width: 100%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center; }
    .surfTraining img {
      position: initial;
      width: 100%; }
  .surfTraining2 {
    position: initial;
    flex-direction: column; }
    .surfTraining2 .surfTrainingText2 {
      width: 100%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center; }
    .surfTraining2 img {
      position: initial;
      width: 100%;
      margin-left: 0; }
  .newsletterSubscription {
    margin: 20px auto;
    width: 100%; }
    .newsletterSubscription .subscribeForm .emailInput {
      height: 40px;
      width: calc(100% - 40px); }
    .newsletterSubscription .subscribeForm .pushEmailBtn {
      width: 40px;
      height: 40px;
      font-size: 24px; }
  .contacts {
    display: flex;
    flex-direction: column; }
    .contacts .contactImageSunset {
      width: 100%; }
    .contacts .contactsText {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%; }
      .contacts .contactsText p:nth-of-type(1),
      .contacts .contactsText p:nth-of-type(2) {
        margin-left: 0; } }

@media only screen and (max-width: 330px) {
  header .mainHeaderText p:nth-of-type(2) {
    margin: 40px auto 0 20px; } }

/*# sourceMappingURL=style.css.map */